@import "tailwindcss";

@theme{
    --primary:#405884;
    --secondary:#9ec4e1;
    --third:#f7f3f0;
    --texto:#333333;
    --bg1:#282828;
    --blanco:#ffffff;
    --negro:#000000;
    --accent:#9013fe;
    --neutral:#333333;
    /*--breakpoint-xs: 20rem;
    --breakpoint-2xl: 21.875rem;
    --breakpoint-3xl: 22.5rem;
    --breakpoint-3xl: 23.4375rem;*/
}
@font-face {
  font-family:"ivy";
  src: url("/fonts/Ivy-200.woff2") format("woff2");
  font-weight: 400;
  display: swap;
}
@font-face {
  font-family:"ivy";
  src: url("/fonts/Ivy-600.woff2") format("woff2");
  font-weight: 600;
  display: swap;
}
@font-face {
  font-family:"helvet";
  src: url("/fonts/Helveticar.woff2") format("woff2");
  font-weight: 400;
  display: swap;
}
html{
  font-family:'helvet', sans-serif;
  background-color: #f0f0f0;
  color: var(--texto);
  font-size: 16px;
  line-height: 1.5;
}