<section id="drArielle" class="flex justify-center items-center">
  <div class="container flex justify-between flex-nowrap py-12 px-4">
    <div class="w-1/2">
      <img
        class=""
        src="/Laser/images/Dr.-Arielle-Kauvar.webp"
        alt="Dr. Arielle"
        class=""
      />
    </div>
    <div class="w-1/2 flex flex-col justify-center items-start gap-4">
      <h2 class="text-4xl font-bold font-[ivy]">Dr. Arielle Kauvar</h2>
      <p>
        Dr. Kauvar, an internationally renowned board-certified dermatologist,
        laser surgeon, and Mohs (skin cancer) surgeon, is founding director of
        New York Laser & Skin Care. She has been helping patients reveal and
        maintain their healthiest skin for over 18 years.
      </p>
      <p>
        As a leading authority on laser surgery, cosmetic dermatology, and skin
        cancer, she lectures nationally and internationally, writes extensively,
        and is frequently interviewed by media.
      </p>
      <a
        href="#"
        class="rounded-3xl text-white hover:text-black transition px-3.5 py-2.5 bg-(--primary) hover:bg-(--secondary)"
        >More Abour Dr. Arielle Kauvar</a
      >
    </div>
  </div>
</section>
