<section id="Conditions We Treat" class="flex justify-center items-center">
  <div class="container py-12 px-4">
    <h2 class="text-center pb-12 text-(--primary)">Conditions We Treat</h2>
    <div class="flex flex-nowrap justify-between gap-x-2.5"></div>
  </div>
</section>
