<section
  id="CalltoActions"
  class="flex justify-center items-center bg-(--primary) bg-[url('/Laser/images/Bg-ola.webp')] bg-cover bg-center bg-no-repeat"
>
  <div class="container py-12 px-4 h-[300px] flex flex-col justify-center">
    <h2 class="text-white">In case of emergency call (212) 249-9440</h2>
    <p class="text-white">We’re here for you!</p>
  </div>
</section>
