<section id="OurResearch" class="flex justify-center items-center">
  <div class="container flex justify-between flex-nowrap py-12 px-4">
    <div class="w-1/2 flex flex-col justify-center items-start gap-4 pr-10">
      <h2 class="text-4xl font-bold font-[ivy]">Our Research</h2>
      <p>
        Dr. Kauvar has been engaged in scholarly activities, including clinical
        research, teaching, writing and editing journal articles and books for
        over 16 years. She has taught medical students, residents and fellows
        and directed educational sessions and programs at national and
        international meetings.
      </p>
      <p>
        Under the direction of Dr. Arielle Kauvar, the Clinical Research Center
        at New York Laser & Skin Care evaluates new and emerging technologies,
        devices, medications and other therapies for the treatment and diagnosis
        of medical and cosmetic skin problems.
      </p>
    </div>
    <div class="w-1/2">
      <img
        src="/Laser/images/Our-Research-0.webp"
        alt="Dr. Arielle"
        class="rounded-4xl"
      />
    </div>
  </div>
</section>
