<section
  id="ProfessionalAffiliations"
  class="flex justify-center items-center bg-white"
>
  <div class="container py-12 px-4">
    <h2 class="text-center">Professional Affiliations</h2>
    <div>image</div>
  </div>
</section>
