<footer
  class="bg-(--bg1) flex justify-center items-center text-center text-white w-full px-12 py-12"
>
  <section class="container flex flex-col sm:flex-row gap-4">
    <div class="sm:w-1/2">
      <a href="/" class="text-2xl font-bold text-gray-800 flex justify-center">
        <img src="/images/logo.png" alt="Logo" class="h-20 w-auto" />
      </a>
      <p class="text-balance sm:text-left">
        New York Laser & Skin Care is one of the premier cosmetic and
        dermatologic surgery practices in the world.
      </p>
    </div>
    <div class="sm:w-1/2">
      <h3 class="text-(--secondary) text-2xl font-[ivy] font-semibold mb-1">
        contact us
      </h3>
      <h4 class="mb-2 sm:text-left">Find us at:</h4>
      <a
        class="mb-2.5 inline-block sm:text-left"
        href="https://maps.app.goo.gl/2FFiS1x1R9Eku84XA"
        target="_blank">1044 5th Ave, New York, NY 10028, United States</a
      >
      <p class="mb-1 sm:text-left">
        Conveniently located on Fifth Avenue, across from the Metropolitan
        Museum of Art.
      </p>
      <ul class="">
        <li class="flex justify-center items-center sm:justify-start pb-1 mb-2">
          <a class="" href="mailto:info@nylaserskincare.com"
            >info@nylaserskincare.com</a
          >
        </li>
        <li class="flex justify-center items-center sm:justify-start pb-1 mb-2">
          <a class="" href="tel:2122499440">(212) 249-9440</a>
        </li>
      </ul>
    </div>
    <div class="sm:w-1/2">
      <h3 class="text-(--secondary) text-2xl font-[ivy] font-semibold">
        working hours
      </h3>
      <ul>
        <li class="flex justify-between border-b border-gray-300 pb-1 mb-2">
          <span>Monday 8:30 AM</span><span>5:00 PM</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 pb-1 mb-2">
          <span>Tuesday 8:30 AM</span><span>5:00 PM</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 pb-1 mb-2">
          <span>Wednesday 8:00 AM</span><span>5:00 PM</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 pb-1 mb-2">
          <span>Thursday 8:30 AM</span><span>5:00 PM</span>
        </li>
        <li class="flex justify-between border-b border-gray-300 pb-1 mb-2">
          <span>Friday 8:30 AM</span><span>5:00 PM</span>
        </li>
      </ul>
    </div>
    <div class="sm:w-1/2">
      <h3 class="text-(--secondary) text-2xl font-[ivy] font-semibold">
        Social
      </h3>
      <p class="sm:text-left">
        Feel free to drop us a note if you wish to learn more about any of our
        treatments & procedures.
      </p>
    </div>
  </section>
</footer>
