---
import Button from "./Boton/button.astro";
---

<header>
  <div
    id="top"
    class="bg-white hidden justify-center items-center text-[12px]
                md:flex md:transition"
  >
    <div class="container">
      <div class="flex items-center justify-between py-4 px-2">
        <ul class="flex justify-between text-base gap-x-4">
          <li>
            <a href="mailto:patientconcierge@nylaserskincare.com">
              Info@nylaserskincare.com
            </a>
          </li>
          <li>
            <a href="tel:212249944">(212) 249-944</a>
          </li>
        </ul>
        <Button> Book Appointment </Button>
      </div>
    </div>
  </div>
  <div
    id="menu"
    class="bg-(--primary) text-white flex justify-center items-center"
  >
    <div class="container relative">
      <div class="flex items-center justify-between py-2 px-4">
        <a href="/" class="text-2xl font-bold text-gray-800">
          <img src="/Laser/images/logo.png" alt="Logo" class="h-16 w-auto" />
        </a>
        <nav class="hidden sm:flex">
          <ul class="flex space-x-4 text-white">
            <li>
              <a href="/" class="hover:text-gray-800">Home</a>
            </li>
            <li>
              <a href="/about" class="hover:text-gray-800">About</a>
            </li>
            <li>
              <a href="/services" class="hover:text-gray-800">Services</a>
            </li>
            <li>
              <a href="/contact" class="hover:text-gray-800">Contact</a>
            </li>
          </ul>
        </nav>
        <button id="menu-toggle" class="sm:hidden focus:outline-none">
          <svg
            class="w-6 h-6 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
