<section
  class="relative flex flex-col items-center justify-center w-full h-screen bg-cover bg-center bg-no-repeat bg-hero-pattern"
>
  <div
    class="absolute bg-[url('/Laser/images/hero-movi-2l.webp')] bg-center bg-no-repeat top-0 bottom-0"
  >
  </div>
  <div></div>
</section>
