<section
  id="hero"
  class="h-dvh bg-[url('/Laser/images/Hero-movi-2l.webp')] bg-cover bg-center bg-no-repeat
  sm:h-[650px]
  sm:bg-[url('/Laser/images/hero.webp')] flex items-center justify-center"
>
  <div
    class="container flex sm:items-center pt-8 px-2
              sm:h-full sm:px-8"
  >
    <div class="w-full sm:w-1/3 flex flex-wrap gap-4">
      <h1 class="text-4xl sm:text-5xl font-bold font-[ivy]">
        New York<br />Laser & Skin Care
      </h1>
      <p class="">
        World renowned laser, cosmetic and surgical dermatologic practice under
        the direction of Board-certified dermatologist, Arielle N.B. Kauvar, MD
      </p>
      <a
        href=""
        class="text-white rounded-3xl bg-(--primary) hover:bg-(--secondary) transition py-3 px-3.5"
        >Book Your Appointment Today</a
      >
    </div>
  </div>
</section>
