---
import "../styles/global.css";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>New York Laser & Skin Care</title>
    <link rel="icon" type="../image/svg+xml" href="/favicon.png" />
    <meta
      name="description"
      content="New York Laser & Skin Care World renowned laser, cosmetic and surgical dermatologic practice under the direction of Board-certified dermatologist, Arielle N.B. Kauvar, MD Book Your Appointment Today Dr. Arielle Kauvar Dr. Kauvar, an internationally renowned board-certified dermatologist, laser surgeon, and Mohs (skin cancer) surgeon, is founding director of New York Laser & Skin Care. She has been helping patients reveal and maintain their healthiest skin for over 18 years."
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://github.com/Theboy017/Laser" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://github.com/Theboy017/Laser" />
    <meta property="og:title" content="New York Laser & Skin Care" />
    <meta
      property="og:description"
      content="New York Laser & Skin Care World renowned laser, cosmetic and surgical dermatologic practice under the direction of Board-certified dermatologist, Arielle N.B. Kauvar, MD Book Your Appointment Today Dr. Arielle Kauvar Dr. Kauvar, an internationally renowned board-certified dermatologist, laser surgeon, and Mohs (skin cancer) surgeon, is founding director of New York Laser & Skin Care. She has been helping patients reveal and maintain their healthiest skin for over 18 years."
    />
    <meta property="og:image" content="/images/og-image.jpg" />
    <meta property="og:site_name" content="New York Laser & Skin Care" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@NYLaserSkin" />
    <meta name="twitter:creator" content="@NYLaserSkin" />
    <meta name="twitter:title" content="New York Laser & Skin Care" />
    <meta name="twitter:image" content="./images/og-image.jpg" />
    <meta
      name="twitter:description"
      content="New York Laser & Skin Care World renowned laser, cosmetic and surgical dermatologic practice under the direction of Board-certified dermatologist, Arielle N.B. Kauvar, MD Book Your Appointment Today Dr. Arielle Kauvar Dr. Kauvar, an internationally renowned board-certified dermatologist, laser surgeon, and Mohs (skin cancer) surgeon, is founding director of New York Laser & Skin Care. She has been helping patients reveal and maintain their healthiest skin for over 18 years."
    />

    <meta name="keywords" content="Laser, Skin Care, New York" />
    <meta name="author" content="New York Laser & Skin Care" />
  </head>
  <body>
    <Header />
    <main class="">
      <slot />
    </main>
  </body>
  <Footer />

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
